/* General Styles */
body {
  min-height: 100vh;
  background-color: #6608e0;
}

.body-style {
  background-color: #cec3db;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Banner Section */
.banner-containers {
  
}

.banner {
  background-image: url("assests/hero-bg.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5%;
  margin: 100px auto 120px auto;
  padding: 20px 10px;
  border: 2px solid #b89fd8;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
}

.banner-content {
  text-align: center;
  width: 60%;
}

.banner-content * {
  margin-bottom: 10px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h1 span {
  color: rgb(235, 18, 54);
}

p {
  font-weight: lighter;
}

/* Buttons */
.btn, .btnn {
  padding: 16px 32px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  margin-right: 10px;
}

.btn {
  background-color: rgb(129, 4, 129);
  color: white;
}

.btnn {
  background-color: white;
  color: black;
}

/* Banner Image */
.banner-img {
  width: 600px;
}

/* Services Section */
.service-container {
  width: 87.5%;
  margin: 0 auto;
}

.heading-content {
  text-align: center;
  margin-bottom: 40px;
}

h4 {
  color: rgb(235, 18, 54);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-size: 44px;
  font-weight: bold;
}

.service-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  width: 350px;
}
